#menu {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 0;
   height: 100%;
   width: 11%;

   border-right: 1px solid #EEE;

 }
 #menu li{
   font-family: 'Arapey', serif;
   font-size: 180%;
   list-style-type: none;
   text-decoration: none;
   margin-top: -5%;



 }

 #menu p{
   font-size: 100%;
 }

 #horloge{
   width:50%;
   background-color: inherit;
   border:none;
   color: rgb(0, 0, 0);
   font-size: 100%;
 }

 .clock{
   font-size: 80%;
 }
.img{
   margin-left: 25%;
   margin-top: -20%;

 }
 .logo{
   width: 110%;
   height: 18%;
 }

body{

}




.items{
  margin-left: 12.7%;

  border-width: thin;
  width:87%;

}


.pres{

border: solid;
}

      h1{
  text-align: center;
  font-size: 240%;
  font-family: 'Arapey', serif;
  color: rgb(72, 116, 186);

}

    h2{
  font-family: 'Arapey', serif;
  font-style: italic;
  text-align: center;
  font-size: 230%;
  color: rgb(41, 71, 55);
}

    h3{
  font-family: 'Arapey', serif;
  font-size: 210;
  text-align: center;
  font-style: italic;
  font-weight: 400;
}

.devInfo {
  font-weight: 700;
  font-size : 30px;
}
#about{
  margin-bottom: 6%;
  text-align: center;
}
.about strong{
  margin-left: 5%;
}
.Hobbies{
  margin-top: 6%;
}
.Hobbies li{
  display: inline-block;
  padding: 1%;
  margin-left: 4%
}

.websites img{
  display: inline-block;
  margin :4%;
  margin-left: 17%;
}



p{
  font-family: 'Arapey', serif;
  font-size: 120%;
}



.links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media only screen and (max-width: 1024px){
  nav{
    display: none;
  }